@import url('https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,500');

// Media queries
@media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .logo {
      margin-top: -20px;
      margin-left: 25px;
      color: #fff;
    
      h4 {
        font-size: 22px;
        font-weight: 100;
    
        span {
          font-weight: 500;
        }
      }
    }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', serif;
  font-size: 1.2em;
  line-height: 1.6;
  background: #0f143d;
  overflow-x: hidden;
}

label {
  .menu {
    position: fixed;
    overflow: hidden;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .8s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;

    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }

    &:before {
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  input {
    display: none;
  }

  input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;

    .hamburger {
      transform: rotate(45deg);

      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }

      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked+.menu+ul {
    opacity: 1;
  }

  input[type=checkbox]:checked~header {
    overflow: hidden;
  }

  ul {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s 0s ease-in-out;

    li {
      list-style: none;
    }
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.logo {
  margin-top: -20px;
  margin-left: 25px;
  color: #fff;

  h4 {
    font-size: 25px;
    font-weight: 100;

    span {
      font-weight: 500;
    }
  }
}

header {
  height: 800px;
}

.header-container {
  display: flex;
  margin-top: 100px;
}

.hero-left-side {
  flex-direction: column;
  margin-left: 70px;

  h1 {
    width: 520px;
    margin-top: 100px;
    font-weight: 300;
    color: rgb(204, 203, 203);
  }

  .get-started-btn {
    background: #6c44ff;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.hr-line {
  width: 100px;
  height: 2px;
  background: rgb(81, 125, 245);
  border-radius: 5px;
  margin: auto;
}

.hero-image {
  float: right;
  margin-right: 0;

  img {
    height: 700px;
  }
}

.about {
  text-align: center;
  width: 100%;
  height: 400px;

  h1 {
    margin: 0;
    padding: 0;
    color: rgb(81, 125, 245);
    font-size: 40px;
    font-weight: 200;
  }
}

.services {
  margin: auto;
  width: 100%;
  height: 1800px;
  color: rgb(204, 203, 203);

  h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    color: rgb(81, 125, 245);
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .container {
      flex-direction: row;
      margin: 50px 0;
      height: 400px;
      width: 1000px;
      font-size: 30px;
      text-align: left;
      border-radius: 10px;

      .container-text {
        margin-top: 100px;

        h4 {
          font-weight: 300;
          color: rgb(81, 125, 245);
        }

        p {
          font-weight: 100;
        }
      }

      img {
        height: 500px;
      }

      .float-left {
        float: left;
      }

      .float-right {
        float: right;
      }
    }
  }
}

.idea {
  text-align: center;
  width: 100%;
  height: 250px;

  h1 {
    color: rgb(81, 125, 245);
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: 0;
    color: rgb(204, 203, 203);
  }

  input {
    width: 250px;
    height: 35px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding-left: 10px;
    margin-right: 20px;
  }

  .email-btn {
    background: #6c44ff;
    color: #fff;
    font-size: 20px;
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 50px;
  }
}

.portfolio {
  text-align: center;
  width: 100%;

  h1 {
    color: rgb(81, 125, 245);
    font-size: 40px;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }

  p {
    color: rgb(204, 203, 203);
  }
}

.contact {
  text-align: center;
  height: 450px;
  h1 {
    color: rgb(81, 125, 245);
    font-size: 40px;
    font-weight: 200;
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    .id {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      margin: 0 auto;
    }
    

    .name,
    .email {
      display: inline-block;
      width: 250px;
      height: 35px;
      padding-left: 10px;
      margin:10px;
      border: none;
      border-radius: 5px;
    }
    .options {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
    }
    select {
      display: inline-block;
      width: 250px;
      height: 35px;
      margin: 10px;
      border: none;
    }

    .text-area {
      width: 520px;
      height: 100px;
      margin: 0 auto;
      border: none;
      padding-left: 10px;
      padding-top: 15px;
      border-radius: 5px;
      display: block;
    }

    input[type=button] {
      background: rgb(81, 125, 245);
      color: #fff;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      margin-top: 20px;
      font-weight: 200;
    }
  }
}

footer {
  display: flex;
  height: 60px;
  color: #fff;
  width: 100%;
  background: rgb(81, 125, 245);

  p {
    display: inline;
    margin: auto;
  }

  .social-media {
    display: flex;
    display: inline;
    margin: auto;
    align-content: center;
    justify-content: space-between;
    a {
      margin: 0 10px;
        color: #f2f2f2;
        font-size: 25px;
        text-decoration: none;
    }
  }

  a {
    color: #f2f2f2;
    margin: auto;
  }
}